{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
    <div class="container mt-5">
        <div class="background-image" style="background-image: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3798.jpg'); height: 100vh; background-size: cover; background-position: center; position: absolute; width: 100%; top: 0; left: 0; z-index: -1;"></div>
        <h3 align="center">Login</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
{% endblock %}
